body {
  margin: 0;
  padding: 0;
  font-family: verdana;
}

.header {
  height: 150px;
  padding: 50px;
  background: url('/diretorios.jpeg') no-repeat center fixed; 
  background-size: cover;
  
}

.header h1 {
  color: #fff;
  text-shadow: 3px 3px 3px #000;
}

.categories {
  padding: 10px;
}

.cards {
  width: 20rem;
  margin-bottom: 20px
}